MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=spending
MONGODB_USERNAME=admin
MONGODB_PASSWORD=p@Ssw0rd
MONGODB_EXPOSE_PORT=8011
# Security

SECRET_KEY=18384771a5c6d68376c7a791471e8af03694dad1f09c05106f2c546b1ba305c2
ALGORITHM=HS256
JWT_TOKEN_PREFIX=Bearer

ACCESS_TOKEN_EXPIRE_MINUTES=1440
BACKEND_CORS_ORIGINS=["*"]
API_PORT=8010

# Series number configuration

ENVIRONMENT=testing
LOG_LEVEL=DEBUG
UPLOAD_DIR=uploads

GG_SHEET_URL=https://sheets.googleapis.com/v4/spreadsheets
GG_SHEET_ID=1764LDQkKwdW6SW69yuMP6ZuowGAX7DWcq5RwJ4OsxF8
GG_SHEET_API_KEY=AIzaSyB5hGXMiMDJr5DAjQ3lQnFDFntieiIKWkg
